DATABASE_URL=
DATABASE_DIRECT_URL=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

SEARCH_SERVICE_URL=
NEXT_PUBLIC_SEARCH_SERVICE_URL=
SEARCH_SERVICE_TOKEN=
SEARCH_SERVICE_WEBHOOK_SECRET=

STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO=
STRIPE_PRICE_ID_DEVELOPER_API=
STRIPE_PRICE_ID_DRAFTING=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

CRON_SECRET=
OPENAI_API_KEY=
GCP_PROJECT_ID=
GCP_BUCKET_NAME=

NEXT_PUBLIC_WORKFLOW_SERVICE_URL=
GCP_SERVICE_ACCOUNT="test"